
html {
    font-size: 62.5% ;
}

body {
    min-width: 270px;
    min-height: 240px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

h1 {
    font-size: 2.4rem;
    padding-top: 20px;
    padding-bottom: 40px;
}


main > div {
    padding-bottom: 20px;
}
main > div:last-child {
    padding-bottom: 30px;
}

