
html {
    font-size: 62.5% ;
}

body {
    width: 270px;
    min-height: 260px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: sans-serif;
}

h1 {
    font-size: 2.4rem;
    padding-top: 20px;
    padding-bottom: 40px;
}


main > div {
    padding-bottom: 20px;
}

main > div > span {
    display: block;
    padding-bottom: 13px;
    width: 150px;
    margin: auto;
    
}

main > div > span:last-child {
    padding-top: 13px;
}

.color-background {
    border-radius: 7px;
    color: white;
    background: radial-gradient(rgba(255, 24, 24, .85), rgba(252, 28, 28, .85));
    border: none;
    text-shadow: 1px 1px 1px black;
}


main > div:last-child {
    padding-bottom: 30px;
}


@media (prefers-color-scheme: dark) {  
    body{  
       background: rgb(39, 41, 40);    
       color: rgba(255, 255, 255, .9);
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);;
    }
    .color-background {
        background: radial-gradient(rgba(119, 136, 153,.6), rgba(101, 112, 122, .6));
        border: 1px black solid;
        border-radius: 7px;
    }
  }




.loader {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #5fa1d1; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.3s linear infinite;
    margin: auto;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }