
html {
    font-size: 62.5% ;
}

body {
    width: 270px;
    min-height: 240px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}

h1 {
    font-size: 2.4rem;
    padding-top: 20px;
    padding-bottom: 40px;
}


main > div {
    padding-bottom: 20px;
}
main > div:last-child {
    padding-bottom: 30px;
}


@media (prefers-color-scheme: dark) {  
    body{  
       background: rgb(39, 41, 40);    
       color: rgba(255, 255, 255, .9);
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);;
    }
  }

